<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css">

    <title>Templates Home Page</title>
  </head>
  <body>
    <h1>CLARUSWAY</h1>
    <h1>this template from APP dir</h1>
    <!-- variables -->
    <!-- '' saginda solunda birer bosluk birakmak iyi olur '' -->
    <p>{{ title }}</p>
    <p>{{ path }}</p>
    <p>{{ list }}</p>
    <p>{{ list.1 }}</p>
    <p>{{ dict }}</p>
    <p>{{ dict.k1 }}</p>
    <p>{{ number }}</p>

    <!-- for döngüsü yapmak icin asagidaki gibi yazariz. snippedi vasr zaten -->
    <ul>   
        
    {% for name in list %}
       <li>{{name}}<li> 
    {% endfor %}
    <ul>

    <!-- if endif -->

{% if number > 0 %}
    number bigger then 0
{% else %}
    number lower or equal to 0
{% endif %}
<!--- this line HTML comment --->
{% comment %} frontendin görmek istemedigi commenti django kommenti ile yapariy. o zaman sadece backendde kalir. {% endcomment %}
{% comment %} his line DTL comment {% endcomment %}
 {#tek satir komment #} 
    

 {% comment %}** filtre uygulama. googledan ftl filter yazarak ualsabiliriz ***{% endcomment %} 
 <p>{{ desc | title }}</p>
 <p>{{ desc | truncatechars:7 }}</p> 
 <p>{{ desc | wordcount }}</p> 
 {% comment %} <p>{{ desc | wordwrap: 5 }}</p> {% endcomment %}

<img src="static/ucak.jpeg" alt="flug">

{% load static %}
<img src="{% static 'ucak.jpeg' %}" alt="flug">

  </body>
</html>
