<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Templates Home Page</title>
  </head>
  <body>
    <h1>CLARUSWAY</h1>
    <h1>this template from APP dir</h1>
    <!-- variables -->
    <!-- '' saginda solunda birer bosluk birakmak iyi olur '' -->
    <p>{{ title }}</p>
    <p>{{ path }}</p>
    <p>{{ list }}</p>
    <p>{{ list.1 }}</p>
    <p>{{ dict }}</p>
    <p>{{ dict.k1 }}</p>
    <p>{{ number }}</p>

    <!-- for döngüsü yapmak icin asagidaki gibi yazariz. snippedi vasr zaten -->
    <ul>    {% for name in list %}
       <li>{{name}}<li> 
    {% endfor %}
    <ul>

        
  </body>
</html>
